<!DOCTYPE html>

<html>
<body ng-app="editNews" ng-controller="editNewsCtrl">

  <div style="display:inline-block;width:250px" data-ng-init="getAllTags()">
    <div  ng-dropdown-multiselect="" options="tags" selected-model="tagsSelected" extra-settings="tagsConfig"></div>
  </div>

  <div style="display:inline-block;width:250px" data-ng-init="getAllAuthors()">
    <div  ng-dropdown-multiselect="" options="authors" selected-model="authorsSelected" extra-settings="authorsConfig"></div>
  </div>

<div class="text-center">
TITLE:
<input class="form-control input-lg" type="text" ng-model="newsForEdit.news.title">
SHORT TEXT:
<input class="form-control input-lg" type="text" ng-model="newsForEdit.news.shortText">
FULL TEXT:
<input class="form-control input-lg" type="text" ng-model="newsForEdit.news.fullText">

<button type="button" class="btn btn-default"ng-click="saveEditNewNews()">SAVE</button>


</div>
