<!DOCTYPE html>

<html>
<body ng-app="detailNewsModule" ng-controller="detailNewsCtrl">


<div data-ng-init="getDetailNews()">
  <h1>{{detailNews.news.title}}  </h1>
<h4 ng-repeat="author in detailNews.authors"> {{author.authorName}}</h4>
<h3>{{detailNews.news.fullText}}</h3>
  <h5>{{detailNews.news.modificationDate | date:'medium'}}</h5>
  <h4 ng-repeat="comment in detailNews.comments"> {{comment.commentText}}
<button type="button" class="btn btn-default"ng-click="delComment(comment)">DELETE</button>
  </h4>
</div>

<div class="text-center">
<input class="form-control input-lg" type="text" ng-model="newComment.commentText">
<button type="button" class="btn btn-default"ng-click="addComment(newComment)">ADD COMMENT</button>
</div>

<div class="text-center">
<a  style="display:inline-block" href="#news/viewNews/{{previous}}"> <h1> <  </h1></a>
<a  style="display:inline-block" href="#news/viewNews/{{next}}"> <h1> >  </h1></a>
</div>




</body>
</html>
