<!DOCTYPE html>



<html>
<body ng-app="newsModule" ng-controller="newsCtrl">

<div style="display:inline-block;width:250px" data-ng-init="getAllTags()">
  <div  ng-dropdown-multiselect="" options="tags" selected-model="tagsSelected" extra-settings="tagsConfig"></div>
</div>

<div style="display:inline-block;width:250px" data-ng-init="getAllAuthors()">
  <div  ng-dropdown-multiselect="" options="authors" selected-model="authorsSelected" extra-settings="authorsConfig"></div>
</div>
  <button type="button" class="btn btn-default"ng-click="makeSearchCriteria()">FILTER</button>
    <button type="button" class="btn btn-default"ng-click="resetSearchCriteria()">RESET</button>
    <button type="button" class="btn btn-default"ng-click="delListNews()">DEL SEL</button>



  <div  ng-repeat="news in newsList">
<a href="#news/viewNews/{{news.news.newsId}}">  <h1>{{news.news.title}}  </h1></a>
<h4 ng-repeat="author in news.authors"> {{author.authorName}}</h4>
<h3>{{news.news.shortText}}</h3>
  <h5>{{news.news.modificationDate | date:'medium'}}</h5>
  <p>Comments:({{news.comments.length}})</p>
<p ng-repeat="tag in news.tags"> {{tag.tagName}}</p>

<div class="action-checkbox">
   <input  type="checkbox" value="{{news.news.newsId}}" ng-checked="selection.indexOf(news.news.newsId) > -1" ng-click="toggleSelection(news.news.newsId)" />
</div>
<a href="#news/editNews/{{news.news.newsId}}" ng-click="editNews(news)">EDIT</a>
  </div>


<div>
  <ul class="pagination pagination-lg">
  <li ng-repeat="i in getPages(pages) track by $index"><a href ng-click = "get($index+1)">{{$index+1}}</a></li>
  </ul>
</div>



</body>
</html>
