<!DOCTYPE html>
<html>

<body ng-app="tagModule" ng-controller="tagCtrl">

	<div data-ng-init="getAll()">

<div class="form-inline" ng-repeat="tag in tags">
<input class="form-control" type="text" ng-model="tag.tagName">
<button type="button" class="btn btn-default" ng-click="del(tag)">DELETE</button>
<button type="button" class="btn btn-default"ng-click="edit(tag)">EDIT</button>
</div>
	</div>

<div class="form-inline">
<input class="form-control" type="text" ng-model="newTag.tagName">
<button type="button" class="btn btn-default"ng-click="add(newTag)">ADD</button>
</div>


</body>
</html>
